<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lin.linspringbootdemomybatisplus.mapper.UserMapper">

    <select id="selectUserList" resultType="com.lin.linspringbootdemomybatisplus.entity.User">
        select * from user
        WHERE
        age=#{userParam.age}
    </select>

    <select id="selectUser" resultType="com.lin.linspringbootdemomybatisplus.entity.User">
        select * from user
        <trim prefix="where" prefixOverrides="AND|OR">
            <if test="queryParam.id > 1 and queryParam.email.length() > 0">
               AND  age=#{queryParam.age}
            </if>
        </trim>
    </select>
</mapper>
